In [ ]:
#!pip install selenium

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# ANS 1

In [172]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [173]:
driver.get('https://www.naukri.com/')

In [174]:
#finding element for job search bar 
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('data analyst')
search_loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys('banglore')

In [175]:
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [176]:
# another way of doing this to give the url directly 
url='https://www.naukri.com/data-analyst-jobs-in-banglore?k=data%20analyst&l=banglore'

In [177]:
driver.get(url)

In [178]:
# we will create empty lists as per the question ,where the data will be stored 
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [179]:
# we are going to extract the tags which contains the job titles 

title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="25fcc784-f1e2-4232-8468-6319aa11bf83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="1531a0e8-d267-4fbf-83b6-99d6b067458e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="c228dffd-4f5f-4b25-921c-7ff0788d9dd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="93303aa8-c1b9-47e6-8121-052431f483bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="a5162fad-d1c4-43b8-b03c-67ba57740d27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="01651ea8-5988-4076-a6b3-1215012561d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="f5f4aa88-d612-4f0f-8dbf-31e955c04a75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="2530cd6f-927b-4f9d-a44e-14d9ed037891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="c9b06abe-1ca9-4a09-a1c8-2b050fb9f0b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="58437773-ba87-439c-b793-b76b7edd5d67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="b6162cec-72d8-4664-8c99-7b280a96d63b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="7d05739e-982e-4b55-8e0a-fcfed18fa7d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="a078b023-1ca4-42b9-997f-5265d4895219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="fd607880-5ce3-497a-85ad-f2690c3594a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="7cc23083-3cb8-4839-90ca-521b8c28c0ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="1a86b159-de11-4f35-accb-601fc6903b67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="46d8876b-4930-430f-81ec-ff6e8d333bf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="8c75bc5d-98a4-4cfd-afc5-e0d5dfa2347c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="decc088f-9820-4e95-beb3-3bf9f55c40ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="eaccb85b-5962-4781-9bb1-923629af1ae2")>]

In [180]:
for i in title_tags:
    titles=i.text
    job_title.append(titles)
job_title[0:10]

['Data Analyst - Flipkart Analytics',
 'Business Data Analyst - Database Design/Mining',
 'Urgent Openings For Data Analyst / Business Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Lead / Senior Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Business Data Analyst',
 'Senior Data Analyst - SQL/Tableau/Redshift']

In [181]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="807948e0-e9f4-4a0a-ac75-658d3ab5b6b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="0fd0d36c-ce67-4ccf-9332-fccfc1d58681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="755abb68-22b4-4434-9bfe-492017188958")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="73d8de3d-b357-46c2-b81a-587b0aae9993")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="c405aadc-ae9e-4059-9c62-5491da39fc9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="d6437256-3012-4062-8618-b6f0aa5dd887")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="da55a606-2291-47af-8f26-2d5318571b17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="f12f7b36-8bee-4627-b25e-146304546d7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="711bda50-224c-4100-be83-de0780d1879c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="aa0a3c76-5392-4ebf-8e81-c88576867e37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="be89075b-7478-4265-819a-9f8dca2f3279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="ec50a4a2-701a-4cb9-9395-a52939369ff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="2541451c-a7ca-44e5-a6fd-56bed3ebc77d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="7276a058-224c-4f20-9ae8-4c88cfca794c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="33e1e132-3ed4-49fe-ad38-d052146ef328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="9c7013c0-cc0f-40e3-a8ac-103b45f8ee9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="996a6db8-b731-41aa-b407-ca10504e15c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="168f4ab1-e902-40a3-97b2-a20bf14e828c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="d6d08bf3-7ef6-45d3-9ae7-795cfa30de83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="68b24b1c-e66d-44fc-bb25-050cc3a8074b")>]

In [182]:
for i in loc_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru\n(WFH during Covid)']

In [183]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="cc3eaa9c-88b3-45f2-b400-ff8dd984f45b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="4e39c7a4-9207-48f8-a05c-8da120a651a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="2f14a93c-ac5b-463b-9945-5b2dd6e4bbf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="c274b90b-74b8-4dab-84d4-1e7a51a7937f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="d9e5d80b-1d5c-43a9-9506-693d42cc1f2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="e69fab48-433d-4ed9-9723-e5faa2bdca94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="732af432-a283-48e0-899a-5968d5bb3bab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="a48d3637-5f2a-4b01-beb0-fb510ed5a4ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="d04a5953-2e3d-4953-abf5-2f657649c32d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="c35caf48-e566-44d9-91b6-b79e42f8a07b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="6fda63f7-d7ff-4e2a-a87c-2ca5b19e6141")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="687c841b-5697-4805-b464-5f90c15d08cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="ad8cb913-58c7-4ae1-bd40-94187915b5b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="09afc25d-1575-4222-ac6b-35ba8847aea1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="02278b13-22d6-4208-8ac4-b830de16cdf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="3428c668-9bd6-4527-aa18-602fb70a21ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="236c1eab-b282-4b62-a0e0-6e9111d130d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="0f1307cd-c014-4ada-b22f-1d77f681a471")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="ce8f390f-e453-42e6-8812-1824846cd535")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="0e13abf6-812b-49a2-972b-d370208afa94")>]

In [184]:
for i in company_tag:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Flipkart',
 'AugmatrixGo',
 'Flipkart',
 'Applied Materials',
 'Shell',
 'Shell',
 'EVERGREEN COMMUNITY PRIVATE LIMITED',
 'INTERTRUST GROUP',
 'NetApp',
 'Pronto Consulting Services']

In [185]:
experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience_tag

[<selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="43dc60f3-1182-4a65-acc0-fb44ef9ee645")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="8172ddd7-588b-46d6-9020-613bccc511f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="989a53ca-5125-4238-9ecc-0019ba216a0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="68c03942-2899-4669-9757-73c4b4c7ed2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="d0fab98b-342e-4b20-9f1c-7060bb23ba7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="45451101-4b15-45d8-ab22-9cdb34c666ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="72b1a4be-b4e5-41d4-ac29-2f385c77b4f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="92168efc-44a4-47d6-b5a3-76af1bcd60aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="f69bdb78-4cfb-443c-9e5f-975e247649ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="15eb3d0a-8630-4e36-b622-c09bf9d3af4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="b6d8b404-b3bf-43e4-9f96-835785658ebd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="efb91793-531f-4870-ba36-5acaf1616bd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="f2c2d229-9c8f-4b97-afbc-3f1bfbbf2ee6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="b0b7336e-0d5e-4da3-9f56-7176b2e5a93b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="e2a6c955-2fb4-448a-ac9f-cb246830a3fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="22067a27-3ab1-49ed-b42d-15b44d69c7e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="9a5a5b5d-09d4-496f-a8be-32304809e101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="0f0e1087-95d9-45e9-8e15-d4d0c516267e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="84ce2c60-672b-4bf8-8850-97ded4595b11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a9d577f1cda73ad2051009caac204e83", element="cf9cef87-1abb-4013-a246-e9ef0618405d")>]

In [186]:
for i in experience_tag:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['0-3 Yrs',
 '2-5 Yrs',
 '1-6 Yrs',
 '0-3 Yrs',
 '5-8 Yrs',
 '5-10 Yrs',
 '4-6 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '6-10 Yrs']

In [188]:
data={'JOB TITLE':job_title,'JOB LOCATION':job_location,'COMPANY NAME':company_name,'EXPERIENCED REQURIED':experience_required}
df=pd.DataFrame(data)
df.head(10)

,JOB TITLE,JOB LOCATION,COMPANY NAME,EXPERIENCED REQURIED
0,Data Analyst - Flipkart Analytics,Bangalore/Bengaluru(Bellandur),Flipkart,0-3 Yrs
1,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
2,Urgent Openings For Data Analyst / Business An...,Bangalore/Bengaluru\n(WFH during Covid),Flipkart,1-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
4,Data Analyst,Bangalore/Bengaluru,Shell,5-8 Yrs
5,Data Analyst,Bangalore/Bengaluru,Shell,5-10 Yrs
6,Lead / Senior Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),EVERGREEN COMMUNITY PRIVATE LIMITED,4-6 Yrs
7,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs
8,Business Data Analyst,Bangalore/Bengaluru,NetApp,5-10 Yrs
9,Senior Data Analyst - SQL/Tableau/Redshift,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,...",Pronto Consulting Services,6-10 Yrs

# ANS 2

In [2]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#finding element for job search bar 
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('data scientist')
search_loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys('banglore')

In [5]:
search_but=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_but.click()

In [6]:
#making empty list to fill the scraped data 
job_title=[]
job_location=[]
company_name=[]

In [7]:
# we are going to extract the tags which contains the job titles 

title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="9151aff9-da3e-43da-b3c6-6f368f19b817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="efeee169-1943-44c6-b6b8-130f6d8a9a57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="58b34965-2618-485f-b4e0-b0a2725e9524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="d459029f-099a-4f3e-9f92-4980510de447")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="bcc450e8-c677-4b83-94c6-d6a774a868d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="63ce2028-952a-42e1-9b1e-94a9e0c261be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="01995f42-aaaf-4e7b-8a16-0ca032e7d295")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="ea6a08c9-81fb-45be-89ab-0dfb0f24e818")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="80a9c7b1-b5e7-4254-b31b-65b117e19a77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="9120c007-451e-45f6-a401-afa3ba49977a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="256929a9-dd46-4c2f-a1e1-9bbbdfd10a00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="2ae16016-8d8b-496a-af07-736f50dd909a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="3c0128c6-ea00-43b7-913a-c49313e636d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="f322e319-9680-477e-a6c6-2b6933746184")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="8dbb8706-0548-4fed-8d8f-7ba28a4e9a14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="55e124bf-111b-4dcc-91f8-d4f623243df9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="973b9181-7ebe-4b6a-a0c2-5f6a028700df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="6e91f255-693e-45d1-b839-0f607a7ef974")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="74247ca1-f281-49d0-a2db-61a2f48096da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="729c70ef-f437-4bd1-9597-e867bc2bf71b")>]

In [8]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title
len(job_title)
job_title=job_title[0:10]
len(job_title)

10

In [9]:
job_title

['Process Innovation Analyst - APAC/Data Scientist - Third Party Role',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist - Insights',
 'Senior Data Scientist - Computer Vision',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Data Scientist /Senior Data Scientist',
 'Sr Data Scientist / Data Scientist',
 'Senior Data Scientist',
 'Forecasting Analyst/ Data Scientist (US Client)']

In [10]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
loc_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="60c6129b-4022-462f-bcb8-aaa3f09a14bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="6476d7a5-cdab-4cd1-a78f-e392bd956960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="eacdea76-4109-48dd-81eb-d96f415980e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="22c72926-11fc-44cf-b698-c6907ceebe4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="b492f1ee-ec7c-42ae-ba0f-e41a0ebd0880")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="e86ad05b-d2a5-4191-bac6-04dc44f95869")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="c51ed20a-ba49-47bd-bb2b-adf8857fabe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="58255f0d-c526-4059-840e-91e054babd62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="f3b2f989-b9c8-4002-ac02-26e73bf07e44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="995b2a75-50ae-4353-808c-6813656d5bfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="9186e479-889e-4869-9f01-401a7b219a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="d14550d4-479a-441c-a86d-8c7ef2b76063")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="7212af06-b26b-4f64-98d8-b06757dd8786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="7dcf4254-a0cd-40c5-91f5-fa8febf94a5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="6698e186-1586-4a3b-954a-e6b92865c6e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="f926adf2-7803-4bc5-a715-046cbb9f1d61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="8d487064-bda5-4dd9-a63b-88c4726091d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="f984d261-125c-4f9e-98a7-28d50d7eb04d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="23cbb4ac-d4b6-400c-b987-d9b6ebc4bc92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1cc658b08adb952ba3c3071af4f8ca6", element="cb0fd97e-4bcd-4153-ade9-c6a48cd5abe9")>]

In [11]:
for i in loc_tags:
    loc=i.text
    job_location.append(loc)
jobloc=job_location[0:10]
jobloc

['Bangalore/Bengaluru, Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [12]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag
for i in company_tag:
    company=i.text
    company_name.append(company)
comp=company_name[0:10]
comp

['Bayer',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Autodesk India Pvt Ltd',
 'GE Transportation',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Dun & Bradstreet',
 'intelligent industrial internet systems pvt ltd.',
 'Siemens Limited',
 'Concentrix Daksh Services']

In [15]:
print(len(job_title),len(jobloc),len(comp))

10 10 10

In [16]:
data={'JOB TITLE':job_title,'JOB LOCATION':jobloc,'COMPANY NAME':comp}
df=pd.DataFrame(data)
df

,JOB TITLE,JOB LOCATION,COMPANY NAME
0,Process Innovation Analyst - APAC/Data Scienti...,"Bangalore/Bengaluru, Hyderabad",Bayer
1,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited
2,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM India Pvt. Limited
3,Senior Data Scientist - Insights,Bangalore/Bengaluru,Autodesk India Pvt Ltd
4,Senior Data Scientist - Computer Vision,Bangalore/Bengaluru,GE Transportation
5,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED
6,Data Scientist /Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Dun & Bradstreet
7,Sr Data Scientist / Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",intelligent industrial internet systems pvt ltd.
8,Senior Data Scientist,Bangalore/Bengaluru,Siemens Limited
9,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru",Concentrix Daksh Services

# ANS3

In [2]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#finding element for job search bar 

search_des=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_des.send_keys('data scientist')

In [5]:
search_but=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_but.click()

In [10]:
search_sal=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
search_sal.click()

In [12]:
search_loc=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[3]/label/i')
search_loc.click()

In [13]:
job_title=[]
job_location=[]
company_name=[]
experienced_required=[]

job_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_tag

for i in job_tag:
    job=i.text
    job_title.append(job)
job_title

['Data Scientist - Insurance',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist III-2',
 'Data Scientist',
 'Data Scientist',
 'Urgent Hiring || Data Scientist || Delhi',
 'Data Scientist',
 'Data Scientist Internship',
 'Data Scientist',
 'Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Senior Data Scientist',
 'Academic Counsellor - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Immediate requirement For Data Scientist']

In [22]:
loc_tag=driver.find_elements_by_xpath('//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/ul/li[3]')
loc_tag

for k in loc_tag:
    loc=k.text
    job_location.append(loc)
job_location

['2-7 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram',
 '4-7 Yrs',
 'Not disclosed',
 'Delhi / NCR',
 'Not disclosed',
 '3-8 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '4-6 Yrs',
 '5,00,000 - 10,00,000 PA.',
 'Noida(Sector-126 Noida)',
 '4-6 Yrs',
 '5,00,000 - 10,00,000 PA.',
 'Noida(Sector-126 Noida)',
 '2-7 Yrs',
 '3,00,000 - 8,00,000 PA.',
 'Delhi / NCR',
 '0-2 Yrs',
 '5,00,000 - 5,50,000 PA.',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '0-1 Yrs',
 'Not disclosed',
 'New Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram',
 '3-7 Yrs',
 'Not disclosed',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Not disclosed',
 '1-5 Yrs',
 'Not disclosed',
 'Delhi',
 '1-4 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Delhi',
 '3-7 Yrs',
 'Not disclosed',
 'Gurgaon, Bengaluru',
 '1-3 Yrs',
 'Not disclosed',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-7 Yrs',
 '4,00,000 - 9,00,000 PA.',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Tamia, Bangalore/Bengaluru, Delhi / NCR',
 '2-7 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram',
 '4-7 Yrs',
 'Not disclosed',
 'Delhi / NCR',
 'Not disclosed',
 '3-8 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '4-6 Yrs',
 '5,00,000 - 10,00,000 PA.',
 'Noida(Sector-126 Noida)',
 '4-6 Yrs',
 '5,00,000 - 10,00,000 PA.',
 'Noida(Sector-126 Noida)',
 '2-7 Yrs',
 '3,00,000 - 8,00,000 PA.',
 'Delhi / NCR',
 '0-2 Yrs',
 '5,00,000 - 5,50,000 PA.',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '0-1 Yrs',
 'Not disclosed',
 'New Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram',
 '3-7 Yrs',
 'Not disclosed',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Not disclosed',
 '1-5 Yrs',
 'Not disclosed',
 'Delhi',
 '1-4 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Delhi',
 '3-7 Yrs',
 'Not disclosed',
 'Gurgaon, Bengaluru',
 '1-3 Yrs',
 'Not disclosed',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-7 Yrs',
 '4,00,000 - 9,00,000 PA.',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Tamia, Bangalore/Bengaluru, Delhi / NCR',
 '2-7 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram',
 '4-7 Yrs',
 'Not disclosed',
 'Delhi / NCR',
 'Not disclosed',
 '3-8 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '4-6 Yrs',
 '5,00,000 - 10,00,000 PA.',
 'Noida(Sector-126 Noida)',
 '4-6 Yrs',
 '5,00,000 - 10,00,000 PA.',
 'Noida(Sector-126 Noida)',
 '2-7 Yrs',
 '3,00,000 - 8,00,000 PA.',
 'Delhi / NCR',
 '0-2 Yrs',
 '5,00,000 - 5,50,000 PA.',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '0-1 Yrs',
 'Not disclosed',
 'New Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram',
 '3-7 Yrs',
 'Not disclosed',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Not disclosed',
 '1-5 Yrs',
 'Not disclosed',
 'Delhi',
 '1-4 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Delhi',
 '3-7 Yrs',
 'Not disclosed',
 'Gurgaon, Bengaluru',
 '1-3 Yrs',
 'Not disclosed',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-7 Yrs',
 '4,00,000 - 9,00,000 PA.',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Tamia, Bangalore/Bengaluru, Delhi / NCR',
 '2-7 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram',
 '4-7 Yrs',
 'Not disclosed',
 'Delhi / NCR',
 'Not disclosed',
 '3-8 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram',
 '4-6 Yrs',
 '5,00,000 - 10,00,000 PA.',
 'Noida(Sector-126 Noida)',
 '4-6 Yrs',
 '5,00,000 - 10,00,000 PA.',
 'Noida(Sector-126 Noida)',
 '2-7 Yrs',
 '3,00,000 - 8,00,000 PA.',
 'Delhi / NCR',
 '0-2 Yrs',
 '5,00,000 - 5,50,000 PA.',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '0-1 Yrs',
 'Not disclosed',
 'New Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Noida, Gurgaon/Gurugram',
 '3-7 Yrs',
 'Not disclosed',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Not disclosed',
 '1-5 Yrs',
 'Not disclosed',
 'Delhi',
 '1-4 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Delhi',
 '3-7 Yrs',
 'Not disclosed',
 'Gurgaon, Bengaluru',
 '1-3 Yrs',
 'Not disclosed',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-7 Yrs',
 '4,00,000 - 9,00,000 PA.',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Tamia, Bangalore/Bengaluru, Delhi / NCR',
 '',
 '',
 '',
 'Noida, Gurgaon/Gurugram']

In [14]:
comp_tag=driver.find_elements_by_xpath('//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/div/a[1]')


for k in loc_tag:
    comp=k.text
    company_name.append(comp)
company_name

['Delhi / NCR']

In [15]:
experience_tag=driver.find_elements_by_xpath('//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/ul/li[1]/span')


for k in experience_tag:
    experience=k.text
    experienced_required.append(experience)
experienced_required

['4-7 Yrs']

# ANS4

In [107]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [109]:
# get the url
driver.get('https://flipkart.com/')

In [110]:
#finding element for job search bar 
search_glasses=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_glasses.send_keys('sun glasses')

In [111]:
search_but=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_but.click()

In [112]:
brand_name=[]
product_name=[]
price_range=[]

In [114]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tags
for i in brand_tags:
    brand_name.append(i.text)
brand_name

['Fravy',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'elegante',
 'New Specs',
 'kingsunglasses',
 'SUNBEE',
 'Fravy',
 'GANSTA',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'kingsunglasses',
 'New Specs',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Elligator',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'hipe',
 'Elligator',
 'Rich Club',
 'VINCENT CHASE',
 'PIRASO',
 'kingsunglasses',
 'hipe',
 'VINCENT CHASE',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Fastrack',
 'Lee Topper',
 'ROZZETTA CRAFT']

In [119]:
product_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_tags
for i in product_tags:
    product_name.append(i.text)
    
product_name

['UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Round Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'Mirrored, Gradient, UV Protection Aviator Sunglasses (5...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Gradient Retro Square Sunglasses (46)']

In [120]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tags
for i in price_tags:
    price_range.append(i.text)
    
price_range

['₹299',
 '₹325',
 '₹513',
 '₹200',
 '₹200',
 '₹177',
 '₹329',
 '₹359',
 '₹259',
 '₹189',
 '₹276',
 '₹339',
 '₹236',
 '₹499',
 '₹296',
 '₹1,415',
 '₹259',
 '₹269',
 '₹231',
 '₹325',
 '₹239',
 '₹349',
 '₹246',
 '₹499',
 '₹189',
 '₹294',
 '₹179',
 '₹999',
 '₹200',
 '₹189',
 '₹178',
 '₹999',
 '₹259',
 '₹175',
 '₹758',
 '₹318',
 '₹215',
 '₹509',
 '₹276',
 '₹325']

In [121]:
brand_name2=[]

brand_tags2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tags2
for i in brand_tags2:
    brand_name2.append(i.text)
brand_name2

['agera',
 'povty',
 'NuVew',
 'Fravy',
 'PIRASO',
 'hipe',
 'PHENOMENAL',
 'elegante',
 'PIRASO',
 'New Specs',
 'ROYAL SON',
 'Fravy',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Elligator',
 'ROZZETTA CRAFT',
 'hipe',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Silver Kartz',
 'kingsunglasses',
 'VINCENT CHASE',
 'SUNBEE',
 'PHENOMENAL',
 'GANSTA',
 'VINCENT CHASE',
 'Singco',
 'PIRASO',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SUNBEE',
 'ROZZETTA CRAFT']

In [122]:
product_name2=[]

product_tags2=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_tags2
for i in product_tags2:
    product_name2.append(i.text)
product_name2

['Gradient Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Sports Sung...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (60)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...']

In [123]:
price_range2=[]

price_tags2=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tags2
for i in price_tags2:
    price_range2.append(i.text)
price_range2

['₹196',
 '₹339',
 '₹270',
 '₹299',
 '₹200',
 '₹209',
 '₹329',
 '₹359',
 '₹319',
 '₹199',
 '₹359',
 '₹339',
 '₹694',
 '₹249',
 '₹217',
 '₹699',
 '₹325',
 '₹295',
 '₹263',
 '₹499',
 '₹287',
 '₹189',
 '₹329',
 '₹325',
 '₹209',
 '₹284',
 '₹299',
 '₹1,415',
 '₹258',
 '₹329',
 '₹186',
 '₹999',
 '₹526',
 '₹359',
 '₹219',
 '₹999',
 '₹379',
 '₹649',
 '₹276',
 '₹318']

In [127]:
price_range3=[]

price_tags3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tags3
for i in price_tags3:
    price_range3.append(i.text)
price_range3[0:20]
final_range=price_range3[0:20]
final_range

['₹276',
 '₹255',
 '₹379',
 '₹299',
 '₹299',
 '₹340',
 '₹249',
 '₹699',
 '₹179',
 '₹449',
 '₹166',
 '₹325',
 '₹227',
 '₹200',
 '₹399',
 '₹359',
 '₹259',
 '₹319',
 '₹249',
 '₹289']

In [128]:
product_name3=[]

product_tags3=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_tags3
for i in product_tags3:
    product_name3.append(i.text)
product_name3 
final_product=product_name3[0:20]
final_product

['UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (88)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Mirrored Round Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Others Retro Square Sunglasses (Free Siz...',
 'UV Protection Round Sunglasses (54)']

In [129]:
brand_name3=[]

brand_tags3=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tags3
for i in brand_tags3:
    brand_name3.append(i.text)
brand_name3 
final_brand=brand_name3[0:20]
final_brand

['SUNBEE',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'Fravy',
 'Elligator',
 'elegante',
 'DEIXELS',
 'ROYAL SON',
 'Rich Club',
 'ROZZETTA CRAFT',
 'MAXX',
 'ROZZETTA CRAFT',
 'GANSTA',
 'PIRASO',
 'elegante',
 'elegante',
 'Lee Topper',
 'PIRASO',
 'kingsunglasses',
 'Fravy']

In [138]:
brand_namelist=brand_name+brand_name2+final_brand
product_namelist=product_name+product_name2+final_product
price_rangelist=price_range+price_range2+final_range
print(brand_namelist)
print(product_namelist)
print(price_rangelist)

['Fravy', 'ROZZETTA CRAFT', 'Fastrack', 'PIRASO', 'PIRASO', 'SHAAH COLLECTIONS', 'PHENOMENAL', 'elegante', 'New Specs', 'kingsunglasses', 'SUNBEE', 'Fravy', 'GANSTA', 'ROZZETTA CRAFT', 'SHAAH COLLECTIONS', 'VINCENT CHASE', 'kingsunglasses', 'New Specs', 'HIPPON', 'ROZZETTA CRAFT', 'Elligator', 'ROZZETTA CRAFT', 'Silver Kartz', 'ROZZETTA CRAFT', 'hipe', 'Elligator', 'Rich Club', 'VINCENT CHASE', 'PIRASO', 'kingsunglasses', 'hipe', 'VINCENT CHASE', 'kingsunglasses', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'SUNBEE', 'Fastrack', 'Lee Topper', 'ROZZETTA CRAFT', 'agera', 'povty', 'NuVew', 'Fravy', 'PIRASO', 'hipe', 'PHENOMENAL', 'elegante', 'PIRASO', 'New Specs', 'ROYAL SON', 'Fravy', 'Fastrack', 'kingsunglasses', 'Singco India', 'ROYAL SON', 'ROZZETTA CRAFT', 'GANSTA', 'Elligator', 'ROZZETTA CRAFT', 'hipe', 'SHAAH COLLECTIONS', 'PHENOMENAL', 'ROZZETTA CRAFT', 'GANSTA', 'Silver Kartz', 'kingsunglasses', 'VINCENT CHASE', 'SUNBEE', 'PHENOMENAL', 'GANSTA', 'VINCENT CHASE', 'Singco', 'PIRASO', 'kingsunglasses', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'Fastrack', 'SUNBEE', 'ROZZETTA CRAFT', 'SUNBEE', 'Silver Kartz', 'ROZZETTA CRAFT', 'Fravy', 'Elligator', 'elegante', 'DEIXELS', 'ROYAL SON', 'Rich Club', 'ROZZETTA CRAFT', 'MAXX', 'ROZZETTA CRAFT', 'GANSTA', 'PIRASO', 'elegante', 'elegante', 'Lee Topper', 'PIRASO', 'kingsunglasses', 'Fravy']
['UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Oval Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...', 'UV Protection, Gradient, Night Vision Retro Square Sung...', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored, UV Protection, Riding Glasses, Others Round S...', 'UV Protection Wayfarer Sunglasses (55)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection Round Sunglasses (55)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'Mirrored, UV Protection, Gradient Round Sunglasses (55)', 'UV Protection Aviator Sunglasses (55)', 'Polarized Round Sunglasses (48)', 'Polarized, UV Protection Wayfarer Sunglasses (57)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection, Others Round, Aviator Sunglasses (54)', 'Mirrored, Gradient, UV Protection Aviator Sunglasses (5...', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Polarized Aviator Sunglasses (32)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...', 'UV Protection, Gradient Retro Square Sunglasses (46)', 'Gradient Aviator Sunglasses (55)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Night Vision, Riding Glasses Sports Sung...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'UV Protection Oval Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection, Gradient, Night Vision Retro Square Sung...', 'UV Protection Wayfarer Sunglasses (55)', 'UV Protection, Mirrored Round Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (60)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection, Night Vision, Riding Glasses Aviator Sun...', 'Mirrored Round Sunglasses (53)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Sports Sunglasses (Free Size)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection, Mirrored Retro Square Sunglasses (Free S...', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)', 'UV Protection Oval Sunglasses (56)', 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', 'UV Protection, Polarized, Mirrored Retro Square Sunglas...', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'UV Protection Rectangular Sunglasses (60)', 'Polarized, UV Protection Wayfarer Sunglasses (57)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Butterfly Sunglasses (65)', 'UV Protection, Mirrored Round Sunglasses (54)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Aviator Sunglasses (88)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (53)', 'Mirrored Round Sunglasses (Free Size)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'Polarized Round Sunglasses (48)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Oval Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection, Mirrored Aviator Sunglasses (Free Size)', 'UV Protection, Others Retro Square Sunglasses (Free Siz...', 'UV Protection Round Sunglasses (54)']
['₹299', '₹325', '₹513', '₹200', '₹200', '₹177', '₹329', '₹359', '₹259', '₹189', '₹276', '₹339', '₹236', '₹499', '₹296', '₹1,415', '₹259', '₹269', '₹231', '₹325', '₹239', '₹349', '₹246', '₹499', '₹189', '₹294', '₹179', '₹999', '₹200', '₹189', '₹178', '₹999', '₹259', '₹175', '₹758', '₹318', '₹215', '₹509', '₹276', '₹325', '₹196', '₹339', '₹270', '₹299', '₹200', '₹209', '₹329', '₹359', '₹319', '₹199', '₹359', '₹339', '₹694', '₹249', '₹217', '₹699', '₹325', '₹295', '₹263', '₹499', '₹287', '₹189', '₹329', '₹325', '₹209', '₹284', '₹299', '₹1,415', '₹258', '₹329', '₹186', '₹999', '₹526', '₹359', '₹219', '₹999', '₹379', '₹649', '₹276', '₹318', '₹276', '₹255', '₹379', '₹299', '₹299', '₹340', '₹249', '₹699', '₹179', '₹449', '₹166', '₹325', '₹227', '₹200', '₹399', '₹359', '₹259', '₹319', '₹249', '₹289']

In [139]:
data={'BRAND':brand_namelist,'PRODUCT DISCRIPTION':product_namelist,'PRICE':price_rangelist}

df=pd.DataFrame(data)
df

             BRAND                                PRODUCT DISCRIPTION PRICE
0            Fravy  UV Protection Retro Square Sunglasses (Free Size)  ₹299
1   ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹325
2         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹513
3           PIRASO              UV Protection Aviator Sunglasses (54)  ₹200
4           PIRASO              UV Protection Aviator Sunglasses (54)  ₹200
..             ...                                                ...   ...
95        elegante         UV Protection Round Sunglasses (Free Size)  ₹359
96      Lee Topper              UV Protection Aviator Sunglasses (58)  ₹259
97          PIRASO  UV Protection, Mirrored Aviator Sunglasses (Fr...  ₹319
98  kingsunglasses  UV Protection, Others Retro Square Sunglasses ...  ₹249
99           Fravy                UV Protection Round Sunglasses (54)  ₹289

[100 rows x 3 columns]

# ANS5

In [2]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [3]:
# get the url
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [4]:
rating=[]
review_summary=[]
full_summary=[]

In [5]:
for k in range(0,10):
    

    
    rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    
    for i in rating_tags:
        rating.append(i.text)
       
    next=driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    next

In [6]:
rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5']

In [7]:
for j in range(0,10):
    

    
    review_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    
    for i in review_tags:
        review_summary.append(i.text)
        
    next=driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    next

In [8]:
review_summary

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Best in the market!',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

In [36]:
for l in range(0,10):
    

    
    full_tags=driver.find_elements_by_xpath('//*[@id="container"]/div/div[3]/div/div[1]/div[2]/div[3]/div/div/div/div[2]/div')
    
    for a in full_tags:
        full_summary.append(a.text)
        
    next=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next

In [37]:
full_summary

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',

In [38]:
print(len(rating),len(review_summary),len(full_summary))

100 100 100

In [39]:
data={'RATING':rating,'REVIEW SUMMARY':review_summary,'FULL SUMMARY':full_summary}

df=pd.DataFrame(data)
df

,RATING,REVIEW SUMMARY,FULL SUMMARY
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Perfect product!,The Best Phone for the Money\n\nThe iPhone 11 ...
3,5,Worth every penny,The Best Phone for the Money\n\nThe iPhone 11 ...
4,5,Fabulous!,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,5,Best in the market!,The Best Phone for the Money\n\nThe iPhone 11 ...
96,5,Great product,The Best Phone for the Money\n\nThe iPhone 11 ...
97,4,Good choice,The Best Phone for the Money\n\nThe iPhone 11 ...
98,5,Worth every penny,The Best Phone for the Money\n\nThe iPhone 11 ...
99,5,Highly recommended,The Best Phone for the Money\n\nThe iPhone 11 ...

# ANS 6

In [2]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [3]:
# get the url
driver.get('https://flipkart.com/')

In [6]:
#finding element for job search bar 
search_sneakers=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_sneakers.send_keys('sneakers')

In [7]:
search_but=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_but.click()

In [8]:
brand=[]
product_description=[]
price=[]

In [9]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tags
for i in brand_tags:
    brand.append(i.text)
brand

['Numenzo',
 'Magnolia',
 'Numenzo',
 "Neeman's",
 'FOOTGRAB',
 'URBANBOX',
 'D-SNEAKERZ',
 "Neeman's",
 'Chevit',
 'SCATCHITE',
 'Numenzo',
 "Neeman's",
 'Robbie jones',
 'T-ROCK',
 'Kraasa',
 "Neeman's",
 'Arohi',
 'Kreverse',
 'Wlinzak',
 "Neeman's",
 'SPARX',
 'Robbie jones',
 'Chevit',
 "Neeman's",
 'BIRDE',
 'ASTEROID',
 'India hub',
 'LEE COOPER',
 'Shoes Bank',
 'Kraasa',
 'VORII',
 'LEE COOPER',
 'ASIAN',
 'India hub',
 'Robbie jones',
 'EEGO ITALY',
 'Robbie jones',
 'BRUTON',
 'Clymb',
 'LEE COOPER']

In [10]:
brand2=[]

brand_tags2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tags2
for i in brand_tags2:
    brand2.append(i.text)
brand2

['Numenzo',
 'Magnolia',
 'Numenzo',
 "Neeman's",
 'FOOTGRAB',
 'URBANBOX',
 'D-SNEAKERZ',
 "Neeman's",
 'Chevit',
 'SCATCHITE',
 'Numenzo',
 "Neeman's",
 'Robbie jones',
 'T-ROCK',
 'Kraasa',
 "Neeman's",
 'Arohi',
 'Kreverse',
 'Wlinzak',
 "Neeman's",
 'SPARX',
 'Robbie jones',
 'Chevit',
 "Neeman's",
 'BIRDE',
 'ASTEROID',
 'India hub',
 'LEE COOPER',
 'Shoes Bank',
 'Kraasa',
 'VORII',
 'LEE COOPER',
 'ASIAN',
 'India hub',
 'Robbie jones',
 'EEGO ITALY',
 'Robbie jones',
 'BRUTON',
 'Clymb',
 'LEE COOPER']

In [11]:
brand3=[]

brand_tags3=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tags3
for i in brand_tags3:
    brand3.append(i.text)
brand3=brand3[0:20]
brand3

['Numenzo',
 'Magnolia',
 'Numenzo',
 "Neeman's",
 'FOOTGRAB',
 'URBANBOX',
 'D-SNEAKERZ',
 "Neeman's",
 'Chevit',
 'SCATCHITE',
 'Numenzo',
 "Neeman's",
 'Robbie jones',
 'T-ROCK',
 'Kraasa',
 "Neeman's",
 'Arohi',
 'Kreverse',
 'Wlinzak',
 "Neeman's"]

In [12]:
brand_name=brand+brand2+brand3
len(brand_name)

100

In [17]:
product_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_tags
for i in product_tags:
    product_description.append(i.text)
    
len(product_description )

54

In [18]:
product_description2=[]
product_tags2=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_tags2
for i in product_tags2:
    product_description2.append(i.text)
    
len(product_description2)

27

In [24]:
product_description3=[]
product_tags3=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_tags3
for i in product_tags3:
    product_description3.append(i.text)
    
product_description3=product_description3[0:20]
product_description3[0:18]

['411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'White Boots || High Tops || Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers Sneakers For Men',
 'Numenzo Black Sneaker For Men Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men']

In [26]:
sneakers_description=product_description+product_description2+product_description3
snekers=sneakers_description[0:100]

In [27]:
len(snekers)

100

In [32]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tags
for i in price_tags:
    price.append(i.text)
    
len(price)

39

In [33]:
price2=[]
price_tags2=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tags2
for i in price_tags2:
    price2.append(i.text)
    
len(price2)

39

In [34]:
price3=[]
price_tags3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tags3
for i in price_tags3:
    price3.append(i.text)
    
price3=price3
len(price3)

39

In [35]:
final_price=price+price2+price3
FINAL_PRICE=final_price[0:100]
len(FINAL_PRICE)

100

In [36]:
data={'BRAND':brand_name,'PRODUCT DESCRIPTION':snekers,'PRICE':FINAL_PRICE}
df=pd.DataFrame(data)
df

       BRAND                                PRODUCT DESCRIPTION   PRICE
0    Numenzo                        411 Casual Sneakers For Men    ₹499
1   Magnolia                                   Sneakers For Men    ₹398
2    Numenzo                                   Sneakers For Men    ₹479
3   Neeman's       White Boots || High Tops || Sneakers For Men  ₹2,399
4   FOOTGRAB  Casual , Partywear Sneakers Shoes For Men's An...    ₹549
..       ...                                                ...     ...
95  Neeman's                                   Sneakers For Men    ₹245
96     Arohi  Perfect & Affordable Combo Pack of 02 Pairs Sn...    ₹399
97  Kreverse              Sports Running Shoes Sneakers For Men  ₹2,399
98   Wlinzak                                   Sneakers For Men    ₹636
99  Neeman's     White Sneaker For Men's/Boy's Sneakers For Men    ₹499

[100 rows x 3 columns]

# ANS7

In [24]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [25]:
# get the url
driver.get('https://www.myntra.com/shoes')

In [34]:
#finding element for job search bar 
search_price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
search_price.click()

In [35]:
search_color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
search_color.click()

In [36]:
brand=[]
price=[]
description=[]

In [50]:
brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

for i in brand_tags:
    brand.append(i.text)
    
brand_name=brand[0:100]

len(brand_name)

100

In [46]:
price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')

for i in price_tags:
    price.append(i.text)
    
len(price )

100

In [48]:
des_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')

for i in des_tags:
    description.append(i.text)
len(description)

100

In [51]:
data={'BRAND NAME':brand_name,'PRICE':price,'SHORT SHOE DESCRIPTION':description}

df=pd.DataFrame(data)
df

,BRAND NAME,PRICE,SHORT SHOE DESCRIPTION
0,Nike,Rs. 7195,Men Zoom Span 4 Running Shoes
1,Nike\nMen Zoom Span 4 Running Shoes\nRs. 7195\...,Rs. 8099Rs. 8999(10% OFF),Men Solid Leather Formal Slip-Ons
2,,Rs. 10399Rs. 12999(20% OFF),Men Jamming 2.0 Running Shoes
3,Nike,Rs. 7995,Men FLIGHT LEGACY Sneakers
4,Hush Puppies,Rs. 11249Rs. 14999(25% OFF),Men Deviate Nitro Running Shoe
...,...,...,...
95,Hush Puppies,Rs. 13900,Women Leather Heeled Boots
96,Ruosh,Rs. 8999,Men Textured Leather Formal Derbys
97,DAVINCHI,Rs. 7490,Men Formal Leather Brogues
98,Saint G,Rs. 7199Rs. 8999(20% OFF),Men Solid Casual Sneakers
99,Pavers England,Rs. 9999,Leather Block Heeled Boots

# ANS8

In [31]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [32]:
# get the url
driver.get(' https://www.amazon.in/ ')

In [33]:
#finding element for job search bar 
search_laptop=driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search_laptop.send_keys('laptop')
search_but=driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')
search_but.click()

In [34]:
#setting filter
search_i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
search_i7.click()

In [30]:
title=[]
rating=[]
price=[]

In [39]:
title_tag=driver.find_elements_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[2]/div/span/div/div/div/div/div[2]/div[2]/div/div/div[1]/h2/a/span')

for i in title_tag:
    title.append(i.text)
    
title

TypeError: 'WebElement' object is not iterable

# ANS9

In [2]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [3]:
# get the url
driver.get('https://www.ambitionbox.com/')

In [4]:
#finding element for job search bar 
search_jobs=driver.find_element_by_xpath('//a[@class="link jobs"]')
search_jobs.click()

In [5]:
search_des=driver.find_element_by_xpath('//input[@class="input tt-input"]')
search_des.send_keys('data scientist')


search_but=driver.find_element_by_xpath('//span[@class="ctas-btn-medium"]')
search_but.click()

In [7]:
search_loc=driver.find_element_by_xpath('//div[@title="Location"]')
search_loc.click()

In [8]:

search_des=driver.find_element_by_xpath('//html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_des.send_keys('noida')

In [9]:
select_noida=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_noida.click()

In [10]:
company_name=[]
no_of_days=[]
rating=[]

In [11]:
company_tags=driver.find_elements_by_xpath('//div[@class="company-info"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
comp_name=company_name[1:11]
comp_name

['Optum Global Solutions (India) Private Limited\n4.1\n(1.4k Reviews)',
 'Steria India Ltd\n4.1\n(833 Reviews)',
 'Ameriprise Financial\n4.1\n(250 Reviews)',
 'Jubilant Foodworks Limited\n3.9\n(455 Reviews)',
 'Steria India Ltd\n4.1\n(833 Reviews)',
 'Steria India Ltd\n4.1\n(833 Reviews)',
 'HCL Technologies Limited\n3.8\n(13.2k Reviews)',
 'GI Group\n3.9\n(68 Reviews)',
 'Zyoin\n4.2\n(61 Reviews)',
 'GI Group\n3.9\n(68 Reviews)']

In [12]:
no_tags=driver.find_elements_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[2]/div[2]/div/div[1]/div[1]/div[3]/span[1]')
for i in no_tags:
    num=i.text
    no_of_days.append(num)

no_of_days

['12d ago']

In [16]:
rating_tags=driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in rating_tags:
    rate=i.text
    rating.append(rate)

rating

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '4.1',
 '4.1',
 '4.1',
 '3.9',
 '4.1',
 '4.1',
 '3.8',
 '3.9',
 '4.2',
 '3.9']

# ANS 10

In [40]:
# connect with the driver

driver=webdriver.Chrome(r'C:\Users\vinay\OneDrive\Desktop\New folder\Chromedriver.exe')

In [41]:
# get the url
driver.get('https://www.ambitionbox.com/')

In [42]:
#finding element for job search bar 
search_sal=driver.find_element_by_xpath('//a[@class="link salaries"]')
search_sal.click()

In [43]:
search_profile=driver.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')
search_profile.send_keys('data scientist')

In [44]:
search_click=driver.find_element_by_xpath('//*[@id="browseSalaries"]/main/section[1]/div[2]/div[1]/span/div/div')
search_click.click()

In [48]:
company_name=[]
comp_tags=driver.find_elements_by_xpath('//div[@class="company-info"]')

for i in comp_tags:
    company_name.append(i.text)
    
company_name

['Optum\nbased on 10 salaries\nAssociate Data Scientist\n . \n3 yrs exp',
 'UnitedHealth\nbased on 16 salaries\nAssociate Data Scientist\n . \n2 yrs exp',
 'TheMathCompany\nbased on 11 salaries\nAssociate Data Scientist\n . \n3 yrs exp',
 'Cognizant\nbased on 27 salaries\nAssociate Data Scientist\n . \n3-4 yrs exp',
 'TCS\nbased on 14 salaries\nAssociate Data Scientist\n . \n3 yrs exp',
 'TCS\n3.2\nSalary Rating \n25.2k reviews',
 'Cognizant\n3.3\nSalary Rating \n18.1k reviews',
 'Accenture\n3.6\nSalary Rating \n20k reviews',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']