In [214]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException
import time

In [ ]:
#ANS 1

In [4]:
# connect with the driver



driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

driver.get(url)

In [6]:
Rank=[]
name=[]
Artist=[]
Upload_date=[]
Views=[]

In [7]:

try:
    
    name_tag=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name_tag:
        name.append(i.text)
except NoSuchElementException:
    name.append('no details')
except StaleElementReferenceException:
    name.append('no details')

In [24]:
name=name[0:30]

In [14]:
try:
    rank_info=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in rank_info:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('no details')
except StaleElementReferenceException:
    Rank.append('no details')

In [25]:
len(Rank)

30

In [16]:

try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('No details available')
except StaleElementReferenceException:
    Artist.append('No details available')

In [20]:
len(Artist)

30

In [17]:
try:
    views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('No details available')
except StaleElementReferenceException:
    Views.append('No details available')

In [21]:
len(Views)

30

In [18]:
try:
    upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        Upload_date.append(i.text)
        
except NoSuchElementException:
    Upload_date.append('No details available')
except StaleElementReferenceException:
    Upload_date.append('No details available')

In [22]:
len(Upload_date)

30

In [26]:
df=pd.DataFrame({'Rank':Rank,'Name':name,'Artist':Artist,'Views':Views,'Upload_Date':Upload_date})

In [27]:
df

,Rank,Name,Artist,Views,Upload_Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.35,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.79,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.24,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.65,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.45,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.12,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,4.56,"February 27, 2018"
7,8.,"""Phonics Song with Two Words""[22]",ChuChu TV,4.52,"March 6, 2014"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.50,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.37,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[30]",El Chombo,3.89,"April 5, 2018"
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,3.82,"May 24, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.66,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.54,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.53,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.52,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.42,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.28,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.25,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.25,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.24,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.19,"July 25, 2012"
23,24.,"""Bailando""[42]",Enrique Iglesias,3.18,"April 11, 2014"
24,25.,"""Lean On""[43]",Major Lazer,3.18,"March 22, 2015"
25,26.,"""Baa Baa Black Sheep""[44]",Cocomelon – Nursery Rhymes,3.17,"June 25, 2018"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.15,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.12,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.09,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.05,"June 29, 2017"

In [104]:
#ANS2

driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')

url = "https://www.bcci.tv/"
driver.get(url)

In [105]:
# click on the international fixtures 

int_fix=driver.find_element_by_xpath('//li[@class="nav-item ml-0"]')
try:
    int_fix.click()
except ElementNotInteractableException:
    driver.get(int_fix.get_attribute('href'))

In [106]:
int_fix

In [107]:
# scrape match details urls from xpath    
urls=[]
match_page=driver.find_elements_by_xpath("//a[@class='match-center-btn ng-scope']")  
for i in match_page:
    urls.append(i.get_attribute('href'))

In [108]:
urls

['https://www.bcci.tv/events/59/icc-womens-world-cup-2022/match/455/-',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/427/1st-t20i',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/428/2nd-t20i',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/429/3rd-t20i',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/430/4th-t20i',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/431/5th-t20i']

In [109]:
match=[] 
series=[]
place=[]
date=[]
Time=[]
all_text = []
venue = []

In [110]:
for i in urls:                 #list of urls of match description pages
    driver.get(i)
    
    try:
        series_title=driver.find_element_by_xpath('//div[@class="tournament--name ng-binding ng-scope"]')
        series.append(series_title.text)
    except NoSuchElementException:#handling no such element exception
        series.append("No details Available")
    
    time.sleep(2)
    #scarping date of match 
    try:
        date_title=driver.find_element_by_xpath('//div[@class="matchDate alignC ng-binding ng-scope"]')
        date.append(date_title.text)
    except NoSuchElementException:#handling no such element exception
        date.append("No details Available")      
    
    time.sleep(2)
    #scarping time of the match    
    try:
        venue_name=driver.find_element_by_xpath('//span[@class="matGround ng-binding"]')
        venue.append(venue_name.text)
    except NoSuchElementException:#handling no such element exception
        venue.append("No details Available")    
      
    time.sleep(2)
     #scarping match venue    
    try:
        place_title=driver.find_element_by_xpath('//span[@class="matPlace ng-binding ng-scope"]')
        place.append(place_title.text)
    except NoSuchElementException:#handling no such element exception
        place.append("No details Available")

In [111]:
df=pd.DataFrame({"Series":series,'Venue':venue,
                "Place":place,
                "Date":date,
                })
df

,Series,Venue,Place,Date
0,ICC WOMENS WORLD CUP 2022,HAGLEY OVAL,CHRISTCHURCH,27 MAR 2022
1,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,MA CHIDAMBARAM STADIUM,CHENNAI,9 JUN 2022
2,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,M CHINNASWAMY STADIUM,BENGALURU,12 JUN 2022
3,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,VIDARBHA CRICKET ASSOCIATION STADIUM,NAGPUR,14 JUN 2022
4,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,SAURASHTRA CRICKET ASSOCIATION STADIUM,RAJKOT,17 JUN 2022
5,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,ARUN JAITLEY STADIUM,DELHI,19 JUN 2022

In [ ]:
#ANS 3

In [112]:

driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)

In [115]:
selenium_link=driver.find_element_by_xpath('//ul[@class="menu1"]/li[3]/a')
try:
    selenium_link.click()
except ElementNotInteractableException:          #handling element not clickable exception
    driver.get(selenium_link.get_attribute('href'))
time.sleep(2)

In [116]:
selenium_link

In [117]:
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:      #handling element not clickable exception
    driver.get(exception_handle_link.get_attribute('href'))              
time.sleep(2)

In [118]:
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
time.sleep(2)   

#scraping exceptions description
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    desc.append('No details available')
time.sleep(2)

#creating dataframe
df=pd.DataFrame({"Exception_name":name,
                "Description":desc})
df

,Exception_name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [119]:
# ANS 4
driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')

url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

#clicking on economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)


#clicking on gdp of indian states
indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 
time.sleep(2)


#scraping rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    rank.append('No details available')
time.sleep(2)


#scraping States
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    State.append('No details available')
time.sleep(2)


#scraping GSDP(19-20)
GSDP_20=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:           #handling no such element exception
    GSDP_20.append('No details available')
time.sleep(2)    
    
#scraping GSDP(18-19)
GSDP_19=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:        #handling no such element exception
    GSDP_19.append('No details available')
time.sleep(2)

#scraping share (18-19)
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:          #handling no such element exception
    share.append('No details available')
time.sleep(2)

#scraping GDP(billion$)
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:            #handling no such element exception
    GDP_billion.append('No details available')
time.sleep(2)

#creatng dataframe
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(19-20)':GSDP_20,
                'GSDP(18-19)':GSDP_19,
                'Share(18-19)':share,
                'GDP(Billion_$)':GDP_billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [156]:
#ANS 5
driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')

url = "https://github.com/"
driver.get(url)

In [157]:
explore=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]')
explore.click()
time.sleep(2)


try:
    trend=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
    trend.click()
except:
    driver.get(trend.get_attribute('href'))

In [158]:
#list

Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]
repo_urls=[]

In [159]:
#scraping repositories urls
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
time.sleep(2)

In [160]:
repo_title=[]
try:
    repos=driver.find_elements_by_xpath('//span[@class="text-normal"]')
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')

In [161]:
try:
    disc=driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in disc:
        repo_desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_desc.append('No details available')

In [163]:
for i in repo_urls:
    driver.get(i)
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
    time.sleep(2)

In [131]:
#ANS 6

In [164]:
driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

In [165]:
top_100=driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a')
try:
    top_100.click()
except ElementNotInteractableException:
    driver.get(top_100.get_attributes('href'))

In [141]:
#scraping song names
song_name=[]
try:
    names=driver.find_elements_by_xpath('//*[@id="title-of-a-story"]')
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:       #handling no such element exception
    song_name.append('No details available')
time.sleep(2)    



#scraping artist_names 
artist_name=[]
try:
    names=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[1]/span')
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:        #handling no such element exception
    artist_name.append('No details available')
time.sleep(2)

In [142]:
artist_name

['The Kid LAROI & Justin Bieber']

In [166]:
#ANS 7

In [229]:
driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')


url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

In [230]:
search=driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search.send_keys('data science')

In [231]:
click=driver.find_element_by_xpath('//b[@class="pre-wrap"]')
click.click()

In [232]:
click_search=driver.find_element_by_xpath('//div[@class="qsbSubmit"]')
click_search.click()

In [233]:
#list

name=[]
designation=[]
company=[]
skills=[]

In [234]:
# get the url of links 

urls=[]

url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in url:
    urls.append(i.get_attribute('href'))

In [244]:
for i in urls:
    driver.get(i)
    
    try:
        names=driver.find_elements_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[2]/div[1]/p[20]/strong/em')
        for i in names:
            name.append(i.text)
    except NoSuchElementException:
        name.append('no details')
        
name

['Anandraj || Talent Acquisition']

In [240]:
 designation=[]
try:
    designation_list=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:        #handling no such element exception
    designation.append('No details available')
    time.sleep(2)

        
#scrapping company names
company=[]
try:
    companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for i in companies:
        company.append(i.text)
except NoSuchElementException:#handling no such element exception
    company.append('No details available')
    time.sleep(2)    

skill=[]
try:
    skills=driver.find_elements_by_xpath('//li[@class="fleft fs12 grey-text lh16 dot"]')
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:        #handling no such element exception
    skill.append('No details available')
    time.sleep(2)

In [248]:
#ANS8

In [249]:
driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')


url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

In [250]:
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              #handling no such element exception
    book_name.append('No details available')
time.sleep(2)

#scrapping author names
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    author_name.append('No details available')
time.sleep(2)


#scrapping Sale
Sale=[]
try:
    sale=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in sale:
        Sale.append(i.text)
except NoSuchElementException:#handling no such element exception
    Sale.append('No details available')
time.sleep(2)    

#scrapping publisher
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:#handling no such element exception
    publisher.append('No details available')
time.sleep(2)

#scrapping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')
time.sleep(2)

#creating dataframe
df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':Sale,
                'Publisher':publisher,
                'Genre':genre})
df

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [252]:
#ANS9

driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')

In [253]:
url = "https://www.imdb.com/list/ls095964455"
driver.get(url)
time.sleep(2)

In [254]:
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:#handling no such element exception
    name.append('No details available')
time.sleep(2)


# scraping year of release
years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:#handling no such element exception
    years.append('No details available')
time.sleep(2)


# scraping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')
time.sleep(2)


# scraping run_time
run_time=[]
try:
    info=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:#handling no such element exception
    run_time.append('No details available')
time.sleep(2)


# scraping rating
rating=[]
try:
    info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:#handling no such element exception
    rating.append('No details available')
time.sleep(2)

# scraping votes
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:#handling no such element exception
    votes.append('No details available')
time.sleep(2)


#creating dataframe
df=pd.DataFrame({"Name":name,
                "years":years,
                "Genre":genre,
                "Run_time":run_time,
                "Rating":rating,
                "Votes":votes})
df

,Name,years,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,969,659"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"976,203"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.3,"938,580"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"280,647"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.7,"240,711"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.6,"48,201"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,857"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.2,"187,378"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,741"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"224,305"

In [255]:
#ANS10

In [256]:
driver=webdriver.Chrome(r'C:/Users/vinay/OneDrive/Desktop/chromedriver.exe')
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

In [257]:
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()



#scraping dataset names
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
time.sleep(2)

#scraping dataset names
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")
time.sleep(2)


#scraping dataset names
default_task=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("No information")
time.sleep(2)


#scraping dataset names
attr_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("No information")
time.sleep(2)


#scraping dataset names
no_of_instances=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")
time.sleep(2)


#scraping dataset names
no_of_attributes=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("No information")
time.sleep(2)


#scraping dataset names
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")
time.sleep(2)

#creating dataframe
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                'Year':year})
df

,Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021